      <h3 class="mb-3">New book</h3>

<!--アプリケーションを完成させよう2 / 10章 / 投稿画面-->
  <%= form_with model: @books, url: '/books' do |f| %>

    <p>Title<br>
      <%= f.text_field :title, class: "form-control" %></p>

    <p>Opinion<br>
      <%= f.text_area :body, class: "form-control" %></p>

      <%= f.submit 'Create Book', class: "btn btn-success" %>

  <% end %>

    </div>
  </div>
</div>
